
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
ul{
    list-style-type: none;
    display: flex;
    /* align-items: center; */
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
.col-small{
    width: 35%;
}
.col-large{
    width: 65%;
}
.text-small{
    font-size: smaller;
}
.small-cta{
    color: #3C86FF;
    text-decoration: underline;
}
/* BUTTONS and COLORS*/
.btn-small{
    padding: 5px 10px;
}
.btn-big{
    padding: 7px 15px;
}
.btn-plan{
    display: inline-block;
    width: 100%;
    padding: 7px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
}
.btn-box{
    text-decoration-style: none;
    padding: 7px 15px;
    border: 2px solid black;
}
.btn-trial{
    display: inline-block;
    width: 100%;
    padding: 7px;
    text-align: center;
}
.nav-ul .btn-blue,
.btn-blue{
    background-color: #0061FF;
    color: white;
}
.btn-white{
    background-color: white;
    color: black;
}

/* HEADER */
header{
    background-color: aqua;
    height: 80px;
    position: fixed;
    z-index: 10;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
}

.nav-ul li{
    padding: 0px 15px;
}
.nav-ul a{
    color: #424242;
    font-weight: 700;
}


/* MAIN */

main{
    padding-top: 80px;
}

/* JUMBOTRON */
.jumbotron{
    background-color: #B4D0E7;
    height: auto;
    padding-top: 80px;
}
.container-jumbo{
    width: 85%;
    margin: 0 auto;
}
.columns-jumbo{
    display: flex;
    justify-content: space-between;
}
.col-jumbo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
.col-jumbo .col-small{
    padding-top: 80px;
}
h1{
    font-size: 75px;
}
.col-small span{
    padding: 30px 0;
}
.col-small div{
    padding: 10px 0;
}
.col-small i{
    font-size: 45px;
}
.img-jumbo{
    position: relative;
    top: 80px;
    left: 0;
}

/* PIANI ABBONAMENTO */
.plans{
    background-color: aquamarine;
    height: 1900px;
    padding-top: 180px;
}
.container-section{
    width: 76%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 35px;
    padding-bottom: 30px;
}
.buttons-plans{
    padding-top: 30px 0;
}
.buttons-plans span{
    padding-right: 10px;
}
/* Colonne piani abbonamento */
.columns-plans{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.col-plans{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 10px);
    border: 1px dotted red;
    height: 1200px;
}
.card-container{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.plan-card-section{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.card-ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.plan-name{
    height: 40px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
}
.plan-name * {
    padding: 10px 2px;
    color: white;
}
.plan-card-section{
    padding: 20px 0;
}
.plan-card-section *{
    padding: 5px 0;
}
.bold-card{
    font-size: 25px;
    padding-bottom: 10px;
}
.plan-price{
    font-weight: 800;
}
.plan-month{
    color: #95A0A9;
}
.hr-plan{
    display: inline-block;
    margin-top: 20px;
    width: 60px;
    color: #D2D2D5;
}
.plan-card-section i{
    padding-right: 2px;
}
.card-ul i[class*="check"]{
    color: #0061FF;
}
.card-ul li{
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
/* Scheda orizzontale abbonamento */
.big-horizontal-col{
    display: flex;
    border: 2px solid black;
    align-items: baseline;
    padding: 0 20px;
}
.big-enterprise-col{
    width: 70%;
    padding: 30px 0;
}
.small-enterprise-col{
    width: 30%;
}
.big-enterprise-col h4{
    font-size: 25px;
    padding-bottom: 15px;
}
.big-enterprise-col h5{
    font-size: 16px;
    padding-bottom:25px;
}
/* CTA PARTNER */
.cta-partner{
    background-color: coral;
    height: 700px;
}
.big-cta-col{
    width: 55%;
}
.big-cta-col img{
    width: 100%;
}
.small-cta-col{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
}
.small-cta-col h4{
    font-size: 25px;
    padding-bottom: 20px;
}
.small-cta-col p{
    padding-bottom: 40px;
}
/* OPERATIONS */
.operations{
    background-color: white;
    height: 1300px;
}
.op-columns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.op-card{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 40px);
    border: 1px dotted white;
    padding-bottom: 60px;
}
.op-card img{
    width: 100%;
}
.op-card h4{
    font-size: 25px;
    padding-bottom: 20px;
}
.op-card p{
    font-weight: 600;
}
/* CTA CLIENTS */
.cta-clients{
    background-color: khaki;
    height: 300px;
}
.cta-container{
    width: 50%;
}
.cta-container h2{
    font-size: 40px;
    font-weight: 700;
}
.cta-container a{
    text-decoration: underline;
    color: #0061FF;
}
/* SQUARES - PARTNERS*/
.squares{
    background-color: bisque;
    height: 400px;
}
.square-columns{
    display: flex;
    justify-content: space-between;
    height: 400px;
}
.central-col{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #F5F5F5;
}
.side-col{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.square-col{
    width: 50%;
    height: 50%;
    border: 1px dotted white;
    text-align: center;
}
.square-col img{
    width: 50%;
    vertical-align: middle;
    filter: invert(1);
}
/* Square colors */
.square-green{
    background-color: #A2D39B;
}
.square-darkred{
    background-color:#61082B ;
}
.square-bluecoral{
    background-color: #0093CE;
}
.square-lightred{
    background-color: #FF1C1C;
}
.square-red{
    background-color: #D5001F;
}
.square-lightblue{
    background-color: #B4D0E7;
}
.square-blue{
    background-color: #0D2481;
}
.square-yellow{
    background-color: #FFD830;
}
/* CTA FREE TRIAL */
.cta-trial{
    background-color: #B4D0E7;
    height: 300px;
}
.small-trial-col{
    width: 30%;
}
.big-trial-col{
    width: 70%;
    padding-right: 15%;
}
.big-trial-col h2{
    font-size: 45px;
    font-weight: 700;
    color: #61082B;
}
.small-trial-col a{
    margin-top: 10px;
}
/* FAQ */
.faq{
    background-color: mediumseagreen;
    height: 700px;
}
.faq-columns{
    display: flex;
    justify-content: space-between;
}
.question-col{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}
.arrow-col{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: end;
}
.arrow-col span{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    height: 40px;
}
.question-col span{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    height: 40px;
}
/* FOOTER*/
footer{
    background-color: black;
    color: white;
    height: 500px;
    padding-top: 80px;
}
.footer-container{
    width: 85%;
    margin: 0 auto;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
}
.footer-flex ul{
    display: flex;
    flex-direction: column;
}
.footer-flex h5{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
}
.footer-flex a{
    padding: 5px 0;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.footer-hr{
    display: block;
    width: 120px;
    color: white;
    margin-top: 80px;
    margin-bottom: 50px;
}
.footer-lang * {
    padding-right: 3px;
    color: #999999;
}